/*css reset*/
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}
* {margin: 0; padding: 0;}
a {color: inherit;text-decoration: none;}
img{max-width: 100%;min-height: 100%;}

ul,ol{list-style: none;}
/* 站点样式 style*/
body {
    background-color: #eeeeee;
    background-image: url(./images/sky.jpg);
    filter:opacity(90%);
    background-size:cover;

}/*给body加一个背景色，浏览器会智能把背景色扩充到整个界面*/

.globalHeader{
    margin:20px;
}
@media (min-width:500px){
    .globalHeader{
        margin: 80px 0;
    }
}
.searchForm{
    display: flex;
    justify-content: space-between;
}
@media (min-width:500px){
    /*媒体查询*/
    .searchForm{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
.searchForm > input{
    width: 100%;
    margin-right: 10px;
    height: 40px;
    padding: 0 10px;
    /* border:none;input 默认有一个border 想要设置圆角效果需要先取消它自身的border */
    border: 1px solid #ddd;
    border-radius: 4px;
}
.searchForm > button{
    white-space: nowrap;
    padding: 0 28px;
    border: none;
    border-radius: 4px;
    background: #1B7A8E;
    color: white;
    font-size: 16px;
}
.globalMain{
    max-width: 900px;
    margin-left: auto;/*有最大宽度用这个方法居中*/
    margin-right: auto;
}

.siteList{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
}
@media(min-width:500px){
    .siteList{
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;
    }
}
.siteList>li{
    margin-bottom: 10px;
}
@media (min-width:500px){
    .siteList>li{
        margin-left: 25px;
    }
}
.siteList .site{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;/*flex布局居中*/
    flex-direction: column;/*改变主轴方向*/
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 0;
    height: 128px;
    position: relative;
    cursor: pointer;/*鼠标手型*/
}
.siteList .site>.logo{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
.siteList .site>.link{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .site>.close{
    position: absolute;
    right: 4px;
    top: 3px;
    display: none;
    cursor: default;
}
.siteList .site:hover> .close{
    display:block ;
}
.siteList .addButton{
    border: 1px solid #ddd;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    height: 128px;
    border-radius: 4px;
}
.siteList .addButton .icon{
    width: 56px;
    height: 56px;
}
.siteList .addButton .text{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .addButton .icon-wrapper{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
